:root {
    --white: #f5f5f5;
    --black: #090909;
    --yellow: #f6ae2d;
    --blue: #0e7c7b;
    --purple: #74226c;
}

html {
    background-color: var(--white);
    padding: 2% 2% 0 2%;
}

/* header title */
#title {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--black);
    box-shadow: var(--yellow) 7px 7px, var(--blue) 15px 15px;
    padding: 2px 10px 10px 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#title:hover {
    background-image: url(../images/7anim.gif);
}

/* main section */
.section {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--white);
    border: 2px var(--black) solid;
    z-index: 2;
}

/* Button Container */
.container {
    padding: 0;
    margin: 0;
    justify-content: end;
}

/* Buttons */
.btn {
    font-size: 120% !important;
    color: var(--black);
    transition: none !important;
}

.btn:hover {
    color: var(--blue) !important;
}

.btn:active {
    outline: none !important;
    box-shadow: none;
    border-color: var(--black) !important;
    background-color: var(--black) !important;
    transition: none !important;
}

.btn:focus {
    background-color: var(--black) !important;
    border-color: var(--black);
    color: var(--white) !important;
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: none;
}

.active {
    background-color: var(--black) !important;
    border-color: var(--black) !important;
    color: var(--white) !important;
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}
.resume:focus {
    background-color: var(--white) !important;
    color: var(--black) !important;
}

.hover-underline-animation {
    border: 0;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
}

.hover-underline-animation:after {
    border: 0;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: var(--black);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    border: 0;
    padding: 0;
    margin: 0;
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Page title */
.main-page {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 20%;
}

/* About Page */
.about {
    display: inline-block;
    font-size: 125%;
    padding-top: 5%;
    padding-right: 20%;
    padding-bottom: 20%;
    color: var(--black);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: fadeIn 2s;
    line-height: 2;
}

.fullstack {
    color: var(--white);
    background-color: var(--black);
    padding: 0 10px 0 10px;
    /* margin: 0 -10px 0 -10px; */
}

.visual {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 3px;
}

.friendly {
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-decoration-thickness: 3px;
}

.nuances {
    text-decoration: underline;
    text-decoration-color: var(--purple);
    text-decoration-thickness: 3px;
}

/*  Portfolio Page */
#portfolio {
    animation: fadeIn 2s;
}

.port-container {
    padding-bottom: 7%;
}

.project {
    /* display: inline-block; */
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 200%;
    color: rgba(255, 255, 255, 0);
    background-color: var(--purple);
    box-shadow: var(--purple) 7px 7px;
}

.project1:hover {
    color: var(--white);
    background-image: url(../images/1.gif);
    background-blend-mode: difference;
    text-shadow: 0 0 5px black;
    background-position: -18% 0;
}

.project2:hover {
    color: var(--white);
    background-image: url(../images/2.gif);
    background-blend-mode: darken;
    text-shadow: 0 0 5px black;
    background-position: -18% 0;
}

.project3:hover {
    color: var(--white);
    background-image: url(../images/3.gif);
    background-blend-mode: darken;
    text-shadow: 0 0 5px black;
    background-position: -18% 0;
}

.project4:hover {
    color: var(--white);
    background-image: url(../images/4.gif);
    background-blend-mode: darken;
    text-shadow: 0 0 5px black;
    background-position: -18% 0;
}

.project5:hover {
    color: var(--white);
    background-image: url(../images/5.gif);
    background-blend-mode: darken;
    text-shadow: 0 0 5px black;
    background-position: -18% 0;
}

.project6:hover {
    color: var(--white);
    background-image: url(../images/6.gif);
    background-blend-mode: difference;
    text-shadow: 0 0 5px black;
    background-position: -18% 0;
}

.project1 {
    margin-right: 20% !important;
    background-image: url(../images/1anim.gif);
}

.project2 {
    margin-left: 10%;
    background-image: url(../images/2anim.gif);
}

.project3 {
    background-image: url(../images/3anim.gif);
}

.project4 {
    background-image: url(../images/4anim.gif);
}

.project5 {
    background-image: url(../images/5anim.gif);
}

.project6 {
    background-image: url(../images/6anim.gif);
}

/* Contact Page */
.form {
    /* padding-right: 50%; */
    animation: fadeIn 2s;
}

.form input {
    font-size: 120%;
    background-color: var(--white);
    color: var(--black);
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px var(--black) solid;
    width: 100%;
    padding: 10px;
}

.form input:focus {
    outline: none;
    border: 2px var(--purple) solid;
}

.name-input {
    box-shadow: var(--yellow) 7px 7px;
}

.email-input {
    box-shadow: var(--blue) 7px 7px;
}

.message-field {
    font-size: 120%;
    width: 100%;
    height: 200px;
    background-color: var(--white);
    border: 2px var(--black) solid;
    color: var(--black);
    padding: 10px;
    box-shadow: var(--purple) 7px 7px;
}

.message-field:focus {
    outline: none;
    border: 2px var(--purple) solid;
}

.submit-button {
    margin-top: 15px;
    background-color: var(--black) !important;
    border-radius: 0 !important;
    border: 0;
    color: var(--white) !important;
    margin-bottom: 15px;
}

.submit-button:hover {
    color: var(--white) !important;
    background-image: url(../images/7anim.gif);
}

.error-text {
    display: inline-block;
    background-color: var(--yellow);
    color: var(--black);
    padding: 0 10px 0 10px;
}

/* Footer */
.icons {
    float: right;
}
.black-icon {
    display: none !important;
}
.yellow-icon {
    color: var(--yellow);
}

.yellow-icon:hover {
    color: var(--black);
}

.blue-icon {
    color: var(--blue);
}

.blue-icon:hover {
    color: var(--black);
}

.purple-icon {
    color: var(--purple);
}

.purple-icon:hover {
    color: var(--black);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Breakpoints */
@media screen and (max-width: 767.98px) {
    .container {
        padding-top: 5%;
        justify-content: space-around;
        flex-wrap:wrap;
        align-items: flex-end;
    }
    .resume {
        display: none !important;
    }
    .main-page {
        padding: 5% 10% 10% 10%;
    }
    .about {
        display: inline-block;
        font-size: 125%;
        padding: 10% 0 10% 0;
        line-height: 1.5;
        color: var(--black);
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        animation: fadeIn 2s;
    }
    .port-container {
        justify-content: center;
        padding-right: 10% !important;
        padding-bottom: 0%;
    }
    .project {
        font-size: 150%;
        padding: 8%;
        color: var(--white) !important;
        text-shadow: 0 0 5px black;
    }
    .project5 {
        margin-bottom: 50% !important;
    }
    .black-icon {
        display: inline !important;
        color: var(--black);
    }
}